
<div class="row">
    <div class="col-xs-12">
        <img id="specimen" class="img-responsive" src="{{ specimen.url }}"/>
    </div>
</div>

<div id="footer" class="row">
    <form id="transcription">
        <div class="col-xs-1">
            <p id="branding">
                <img class="logo" src="img/logo-black.png" title="Natural History Museum" /><br />#SU14
            </p>
        </div>

        <div class="col-xs-2">
           <label for="{{ field }}">{{ label }}:</label>
        </div>

        <div class="col-xs-6">
            <input id="{{ field }}" type="text" class="form-control input-lg" placeholder="{{ placeholder }}" ng-model="formData.parameters[field]">
        </div>

        <div class="col-xs-3">
           <div class="btn-toolbar">
                <button type="submit" class="btn btn-primary btn-lg" ng-click="saveTranscription()"><span class="glyphicon glyphicon-ok"></span> Save {{ label }}</button>
                <button type="submit" class="btn btn-warning btn-lg pull-right" ng-click="skip()">Missing / illegible</button>
           </div>
        </div>

    </form>
</div>
