<div class="row">

    <div class="jumbotron center-block">
      <h1>Thank you!!</h1>
      <p>Your specimen transcription has been added to our Data Portal.</p>

      <h2>Enter the competition</h2>
      <p>We will randomly pick </p>
      <div class="row">
          <div class="col-xs-4">
              <p>Enter our competion</p>
          </div>
          <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="Your twitter username" ng-model="twitterUsername" required>
              <p class="help-block">Please enter your twitter name.</p>
          </div>
          <div class="col-xs-2">
              <!--<button type="submit" class="btn btn-primary btn-lg">Tweet me</button>-->
              <a href="twitter://post?message=Thank%20you" class="btn btn-primary btn-lg" role="button" ng-click="_click($event)">Tweet me</a>
          </div>
      </div>

      <a href="/" class="btn btn-primary btn-lg" role="button">Next specimen</a>

    </div>

</div>
