body{
    background: #FFFEFE;
}

img#specimen{
    max-width: 100%;
    min-height: 100%;
    padding-bottom: 141px; /* Create space for question bar */
    margin: auto;
}

div#footer{
    position: fixed;
    bottom: 0;
    height: 120px;
    background: #eee;
    width: 100%;
}

form#transcription{
    margin-top: 36px;
}

form#transcription label{
    display: block;
    text-align: right;
    font-size: 30px;
}

#branding{
    width: 50px;
}

