/* iPads */
body{
    font-size: 20px;
}

#branding{
    width: 5em;
    position: absolute;
    top: 0.7em;
    left: 0.5em;
    text-align: center;
    line-height: 1.1;
    z-index: 101;
    opacity: 0.8;
    font-size: 0.7em;
}

#branding img{
    margin: 0 auto 0.3em;
    display: block;
    width: 2em;
}

a#skip{
    position: absolute;
    top: 35%;
    right: 8px;
    z-index: 1000;

}

a#skip i{
    color: #000000;
    opacity: 0.6;
    font-size: 2em;
    width: 1em;
}

a#skip:hover i{
    opacity: 0.8;
}

div#specimen{
    text-align: center;
}

div.panzoom{
	height: 100%!important;
}

div#specimen img{
    display: block;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 140px;
    margin: 0 auto;
}

div#footer{
    position: fixed;
    bottom: 0;
    height: 7em;
    background: #eee;
    width: 100%;
    margin: 0;
    border-top: 1px solid #fff;
}

form#transcription{
    margin-top: 1.2em;
}

form#transcription .label-col{
    text-align: right;
}

form#transcription .label-col label{
    display: inline-block;
    text-align: right;
    font-size: 1em;
    padding-right: 0.7em;
}

form#transcription .input-lg{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* Help text */
form#transcription .label-col i{
    font-size: 1.3em;
    color: #3476BE;
    position: absolute;
    top: -5px;
    right: 0;
    cursor: pointer;
}

form#transcription .btn-toolbar button{
    min-width: 4em;
}

form#transcription button.skip i{
    font-size: 0.8em;
    font-weight: 200;
    position: relative;
    top: -1px;
}

div.checkboxLayer{
    bottom: 60px!important;
}

select.default-select{
    display: none;
}

.multiSelect .button{
    font-size: 1em!important;
    min-width: 10em;
    line-height: 1.33;
    padding: 0.3em 0.3em!important;
}

.multiSelect .button .buttonLabel{
    padding: 0 3px !important;
}

.multiSelect .multiSelectItem {
    margin-bottom: 5px;
    padding-top: 7px!important;
}

.multiSelect .checkBoxContainer{
    padding: 5px 5px 0 5px!important;
}

.multiSelect .checkBoxContainer .multiSelectItem:hover,
.multiSelect .checkBoxContainer .multiSelectGroup:hover {
    background: #666!important;
}

span.tickMark{
    color: #4DAD49;
    font-size: 16px!important;
}

/* Steps */

button i{
    margin-right: 0.1em;
}

.steps-indicator {
    background: #E9E9E9;
    border-top: 1px solid #fff;
    height: 45px!important;
}

.steps-indicator li{
    line-height: 19px!important;
    height: 45px;
}

.steps-indicator li.current,
.steps-indicator li.editing{
    background: #DEDEDE;
}

.steps-indicator li a {
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    /*padding-top: 4px!important;*/
}

.steps-indicator li a:before {
    left: calc(48%)!important;
    height: 15px!important;
    width: 15px!important;
    border: 1px solid #fff;
}

.steps-indicator li.current a,
.steps-indicator li.editing a{
    color: #626262;
}

.steps-indicator li.current a:before,
.steps-indicator li.editing a:before{
    background-color: #339933!important;
}

.steps-indicator li.done a:before {
    background: none!important;
    content: "\f058";
    font-family: FontAwesome;
    font-weight: lighter;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 16px;
    line-height: 14px!important;
    color: #339933!important;
    height: 16px!important;
    width: 16px!important;
}


/* Twitter */

.btn-xlg, .btn-group-xlg>.btn {
padding: 0.5em 0.5em;
font-size: 1em;
line-height: 1.33;
border-radius: 9px;
width: 40%;
margin-top: 1em;
margin-bottom: 2em;
}

.modal-footer {
    border-top: none;
}

.twitter .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.twitter h3{
    font-size: 1.1em;
    color: #666;
    font-weight: 200;
    margin: 0 0 1em 0;
    line-height: 1.4;
}

.twitter .jumbotron{
    padding: 1.1em 0.6em 1.5em 0.6em;
    margin-bottom: 0;
}

.twitter .jumbotron p{
    font-size: 1em;
}