<div class="col-xs-3">
   <label for="location">Location:</label>
</div>

<div class="col-xs-6">
    <input id="location" type="text" class="form-control input-lg" placeholder="Location" ng-model="formData.location">
</div>

<div class="col-xs-3">
   <div class="btn-toolbar">
       <a class="btn btn-primary btn-lg" ui-sref="transcribe.location"><span class="glyphicon glyphicon-ok"></span> Next</a>
       <button type="submit" class="btn btn-primary btn-lg" ng-click="saveTranscription()"><span class="glyphicon glyphicon-ok"></span> Save record</button>
   </div>
</div>