<div class="col-xs-3">
   <label for="name">Scientific name:</label>
</div>

<div class="col-xs-6">
    <input id="name" type="text" class="form-control input-lg" ng-model="formData.name">
</div>

<div class="col-xs-3">
   <div class="btn-toolbar">
       <a class="btn btn-success btn-lg" ui-sref="transcribe.location"><span class="glyphicon glyphicon-chevron-right"></span> OK</a>
       <a class="btn btn-warning btn-lg" ui-sref="transcribe.location"><span class="glyphicon glyphicon-chevron-right"></span> Unknown</a>
   </div>
</div>