<a id="skip" target="_self" href="/"><i class="fa fa-chevron-circle-right"></i></a>

<div id="specimen" class="row">
    <div panzoom>
        <img src="{{ specimen.url }}"  />
    </div>
</div>

<div id="footer" class="row">

    <form id="transcription" ng-controller="modalHelpController">

        <wizard on-finish="saveTranscription()" current-step="step">

            <!-- Identifier (BMNH) -->
            <wz-step title="Specimen number">
                <div class="col-xs-3 label-col">
                    <label for="identifier">Specimen number:</label>
                    <i title="Show help text" class="fa fa-info-circle" ng-click="showHelp(step)"></i>
                </div>

                <div class="col-xs-6">
                    <input id="identifier" type="text" class="form-control input-lg" autocomplete="off" autocapitalize="off" autocorrect="off" ng-model="formData.identifier" onfocus="return false">
                </div>

                <div class="col-xs-3">
                    <div class="btn-toolbar">
                        <button class="btn btn-success btn-lg" type="submit" wz-next="keepFormFocus()">OK</button>
                        <button class="btn btn-default btn-lg skip" type="submit" wz-next="keepFormFocus()"><i class="fa fa-chevron-right"></i><span>Skip</span></button>
                    </div>
                </div>
            </wz-step>

            <!-- Scientific name -->
            <wz-step title="Scientific name">
                <div class="col-xs-3 label-col">
                    <label for="name">Scientific name:</label>
                    <i title="Show help text" class="fa fa-info-circle" ng-click="showHelp(step)"></i>
                </div>

                <div class="col-xs-6">
                    <input id="name" type="text" class="form-control input-lg" autocomplete="off" autocapitalize="off" autocorrect="off" ng-model="formData.scientificName">
                </div>

                <div class="col-xs-3">
                    <div class="btn-toolbar">
                        <button class="btn btn-success btn-lg" type="submit" wz-next="keepFormFocus()">OK</button>
                        <button class="btn btn-default btn-lg skip" type="submit" wz-next="keepFormFocus()"><i class="fa fa-chevron-right"></i><span>Skip</span></button>
                    </div>
                </div>
            </wz-step>

            <!-- Locality -->
            <wz-step title="Locality">
                <div class="col-xs-3 label-col">
                    <label for="locality">Locality:</label>
                    <i title="Show help text" class="fa fa-info-circle" ng-click="showHelp(step)"></i>
                </div>

                <div class="col-xs-6">
                    <input id="locality" type="text" class="form-control input-lg" autocomplete="off" autocapitalize="off" autocorrect="off" ng-model="formData.locality">
                </div>

                <div class="col-xs-3">
                    <div class="btn-toolbar">
                        <button class="btn btn-success btn-lg" type="submit" wz-next="keepFormFocus()">OK</button>
                        <button class="btn btn-default btn-lg skip" type="submit" wz-next="keepFormFocus()"><i class="fa fa-chevron-right"></i><span>Skip</span></button>
                    </div>
                </div>
            </wz-step>

            <!-- Type status -->
            <wz-step title="Type status">
                <div class="col-xs-3 label-col">
                    <label for="type-status">Type status:</label>
                    <i title="Show help text" class="fa fa-info-circle" ng-click="showHelp(step)"></i>
                </div>

                <div class="col-xs-6">

                    <select id="type-status" class="multi-select" multi-select input-model="typeStatuses" button-label="name" item-label="name" tick-property="ticked" helper-elements="" default-label="None"></select>

                    <select id="type-status" ng-model="formData.typeStatus" class="default-select" multiple="multiple">
                        <option ng-repeat="typeStatus in typeStatuses">
                            {{ typeStatus.name }}
                        </option>
                    </select>

                </div>

                <div class="col-xs-3">
                    <div class="btn-toolbar">
                        <button class="btn btn-success btn-lg" type="submit" wz-next="keepFormFocus()">OK</button>
                        <button class="btn btn-default btn-lg skip" type="submit" wz-next="keepFormFocus()"><i class="fa fa-chevron-right"></i><span>Skip</span></button>
                    </div>
                </div>
            </wz-step>

            <!-- Collector -->
            <wz-step title="Collector">
                <div class="col-xs-3 label-col">
                    <label for="collector">Collector:</label>
                    <i title="Show help text" class="fa fa-info-circle" ng-click="showHelp(step)"></i>
                </div>

                <div class="col-xs-6">
                    <input id="collector" type="text" class="form-control input-lg" autocomplete="off" autocapitalize="off" autocorrect="off" ng-model="formData.collector">
                </div>

                <div class="col-xs-3">
                    <div class="btn-toolbar">
                        <button class="btn btn-success btn-lg" type="submit" wz-next="keepFormFocus()">OK</button>
                        <button class="btn btn-default btn-lg skip" type="submit" wz-next="keepFormFocus()"><i class="fa fa-chevron-right"></i><span>Skip</span></button>
                    </div>
                </div>
            </wz-step>

            <!-- Collection date -->
            <wz-step title="Collection date">
                <div class="col-xs-3 label-col">
                    <label for="collection-date">Collection date:</label>
                    <i title="Show help text" class="fa fa-info-circle" ng-click="showHelp(step)"></i>
                </div>

                <div class="col-xs-6">
                    <input id="collection-date" type="text" class="form-control input-lg" autocomplete="off" autocapitalize="off" autocorrect="off" ng-model="formData.collectionDate">
                </div>

                <div class="col-xs-3">
                    <div class="btn-toolbar">
                        <button class="btn btn-success btn-lg" type="submit" wz-next>Save<span> specimen</span></button>
                    </div>
                </div>
            </wz-step>

        </wizard>

        <input id="dummy-focus" type="text">

    </form>

</div>
