<!--<div class="row">-->

<!--<div class="col-xs-12">-->

<!--<div class="jumbotron center-block twitter">-->

<!--<h1>Thank you!</h1>-->


<!--<div class="text-center">-->
<!---->
<!--</div>-->


<!--</div>-->

<!--</div>-->

<!--</div>-->


<div class="modal-header">
    <h3 class="modal-title">Thank you!</h3>
</div>
<div class="modal-body">

    <p>Thank you for contributing. Your transcription will help scientists and the public use our collections, and further our understanding of the natural world.</p>

    <form role="form" class="form-inline jumbotron" ng-submit="send()" name="twitter">

        <p>Please enter your twitter name below to receive a thank you tweet (and help spread the word about our work).</p>

        <div class="form-group">
            <label for="username">Username:</label>
            <!--autocomplete="off" -->
            <input type="text" class="form-control input-lg" name="username" id="username" placeholder="Your twitter username" required ng-model="formData.username"
                   pattern="^\@([a-zA-Z_0-9]){1,}" title="Please enter your twitter username. This should start with @ and be between 1 and 20 characters.">
        </div>

        <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-twitter"></i> Tweet me</button>

    </form>

</div>
<div class="modal-footer">
    <a href="/" class="btn btn-success btn-xlg text-center center-block" role="button" ng-click="close()"><i class="fa fa-chevron-circle-right"></i> Next specimen</a>
</div>
