
<div class="twitter">

    <div class="modal-header">
        <h1 class="modal-title">Thank you!</h1>
    </div>
    <div class="modal-body">

        <h3>Thank you for contributing. Your transcription will help scientists and the public use our collections, and further our understanding of the natural world.</h3>

        <div ng-switch on="informaticiansAuthName">

            <div ng-switch-when="true">

                <!-- Send a tweet from the informatics initiative-->

                <form role="form" class="form-inline jumbotron" ng-submit="twitterform.$valid && send()" name="twitterform">

                    <p>Please enter your twitter name below to receive a thank you tweet (and help spread the word about our work).</p>

                    <div class="form-group">
                        <label for="username">Username:</label>
                        <!--autocomplete="off" -->
                        <input type="text" class="form-control input-lg" name="username" id="username" placeholder="Your twitter username" ng-model="formData.username" ng-minlength="2" ng-maxlength="20" required ng-pattern="/^\@([a-zA-Z0-9])+/">
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg" ng-disabled="twitterform.$invalid"><i class="fa fa-twitter"></i> Tweet me</button>

                </form>

            </div>
            <div ng-switch-when="false">
                <div class="jumbotron text-center">
                    <p>Please help spread the word about our work - tweet your transcription.</p>
                    <a href="twitter://post?message={{tweet}}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-twitter"></i> Send tweet</a>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <a href="/" class="btn btn-success btn-xlg text-center center-block" role="button" ng-click="close()"><i class="fa fa-chevron-circle-right"></i> Next specimen</a>
    </div>

</div>
