<div class="row">

    <div class="col-xs-12">

        <div class="jumbotron center-block twitter">

            <h1>Thank you!</h1>

            <p>Thank you for contributing. Your transcription will help scientists and the public use our collections, and further our understanding of the natural world.</p>

            <form role="form" class="form-inline">

                <p>Please enter your twitter name below to receive a thank you tweet (and help spread the world about our work).</p>

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control input-lg" id="username" placeholder="Your twitter username" autocomplete="off">
                </div>

                    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-twitter"></i> Tweet me</button>

            </form>

            <div class="text-center">
                <a href="/" class="btn btn-success btn-xlg text-center" role="button"><i class="fa fa-chevron-right"></i> Next specimen</a>
            </div>


        </div>

    </div>

</div>